

//generate color classes: 
//e.g text-primary
//e.g bg-primary-light-2


//retrieve key value pairs from map $colors
@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }

    //light variants for each color
    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10%);
        }

        .bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i * 10%);
        }
    }

    //dark variants 
    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(black, $val, $i * 10%);
        }

        .bg-#{$key}-light-#{$i} {
            background-color: mix(black, $val, $i * 10%);
        }
    }
}

